<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/twitter.css" th:href="@{/css/twitter.css}"/>
    <!--<link rel="stylesheet" type="text/css" href="/css/twitterLayout.css" th:href="@{/css/twitterLayout.css}"/>-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!--<script type="text/javascript">-->
        <!--$(function () {-->
            <!--$(".updateUserPW").click(function () {-->
                <!--var userID = $(this).data('id');-->
                <!--$(".modal-body #userValue").val(userID);-->
            <!--})-->
        <!--});-->
    <!--</script>-->

    <title>Twitter</title>
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-collapse navbar-collapse-1 collapse" aria-expanded="true">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{/}"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
                <li>
                    <a th:href="@{/friendstweets}" sec:authorize="isAuthenticated()">Friend's Tweets</a>
                </li>
                <li class="active">
                    <a th:href="@{/admin/user}" th:if="${#request.isUserInRole('ROLE_ADMIN')}">Manage Users</a>
                </li>
            </ul>
            <div class="navbar-form navbar-right">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control-nav" id="search" aria-describedby="search1">
                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                </div>

                <a sec:authorize="isAuthenticated()" class="btn btn-primary" type="submit" aria-label="Left Align"
                   data-toggle="modal" data-target="#submitTweetModal">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span> Tweet
                </a>
                <a sec:authorize="isAnonymous()" class="btn btn-success" type="submit" aria-label="Left Align"
                   data-toggle="modal" data-target="#loginModal">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"> </span> Login
                </a>
                <a sec:authorize="isAuthenticated()" class="btn btn-primary" type="submit" aria-label="Left Align"
                   th:href="@{/logout}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"> </span> Logout
                </a>
            </div>
        </div>
    </div>
</div>

    <div id="container">
        <div id="userTable">
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
                <tbody>

                <tr th:each="user : ${userList}">
                    <td th:text="${user.screenName}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/admin/delete/}+${user.id}">Delete user</a>
                    </td>
                    <td>
                        <a class="btn btn-warning" data-toggle="modal" data-target="#updateModal">Update password</a>
                        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h4 class="modal-title">Update Password</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body mb-1">
                                        <form th:action="@{/admin/update/}+${user.id}" modelAttribute="user" method="PUT">
                                            <div class="md-form mb-4">
                                                <label data-error="wrong" data-success="right" for="new-pass">New password</label>
                                                <input type="password" id="new-pass" name="password" class="form-control validate">
                                            </div>
                                            <div class="md-form mb-4 text-center mt-2">
                                                <br>
                                                <button class="btn btn-success" type="submit">UPDATE</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

<!-- UPDATE USER PASSWORD MODAL -->

<!-- UPDATE USER PASSWORD MODAL END-->

</body>
</html>