<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Carlos Cinema</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Cinema Tickets<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" th:if="${#request.isUserInRole('ROLE_ADMIN')}">
                    <a class="nav-link" href="/indexAdmin">Manage Cinema Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myTickets">My Tickets</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <i class="fa fa-user"></i>  <label th:text="${user.firstName}"></label>
                <a class="btn btn-outline-secondary my-2 my-sm-0 mx-5"
                   type="submit"
                   th:href="@{/logout}">Logout</a>
            </form>
        </div>
    </nav>

    <div id="container">
        <div id="ticketForm" class="col-sm-6  my-5">
            <h5 class="text-primary">Ticket Form</h5>

            <form th:action="@{/saveTicket}" modelAttribute="ticket" method="post">
                <div class="form-group">
                    <input type="text" name="film" class="form-control" placeholder="Movie title">
                </div>
                <div class="form-group">
                    <input type="text" name="cinema" class="form-control" placeholder="Cinema">
                </div>
                <div class="form-group">
                    <input type="date" name="date" class="form-control" placeholder="Date">
                </div>

                <button class="btn btn-success">Add New Ticket</button>
            </form>
        </div>

        <div id="ticketTable">
            <table class="table">
                <tr>
                    <th>Cinema</th>
                    <th>Movie</th>
                    <th>Date</th>
                </tr>
                <tbody>

                <tr th:each="ticket : ${ticketList}">
                    <td th:text="${ticket.cinema}"></td>
                    <td th:text="${ticket.film}"></td>
                    <td th:text="${ticket.date}"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/delete/}+${ticket.id}">Delete ticket</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>